<!-- <footer class="footer" style="display: flex; justify-content: center; align-items: center; padding: 2rem 0;"> -->
  <div class="cryptoinfo" style="text-align: center;">
    <img alt="" style="max-height:1em;max-width:1em;display:inline" src=/xmr.svg>Monero<br>
    <div style="font-size: medium; overflow-wrap: break-word; font-family: monospace;">
      <code>{{ .Site.Params.monero }}</code>
    </div>
    <a href="/monero.png" style="margin-top: 1rem; display: inline-block;">
      <img alt="Monero QR Code" src="/monero.png" style="width: 150px; height: 150px;">
    </a>
  </div>
<!-- </footer> -->
